<div class="col-md-12">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<i class="fa fa-plus-circle"></i> 添加新的{{tab.heading}}监测站
		</div>
		<div class="panel-body">
			<div cg-busy="{promise:promise, message: '请等待，正在向服务器请求数据...', backdrop:true, delay:0, minDuration:10}">
				<uib-tabset active="activeJustified" justified="true">
					<uib-tab index="0" heading="{{tab.STBPRP_title}}">
						<div class="well">
							<ng-include src="template.base_tab"></ng-include>
						</div>
					</uib-tab>
					<uib-tab index="1" heading="第二步 河道防洪指标、水文特征" ng-show="tab.ZQ_tab">
						<div class="well">
							<ng-include src="template.ZQ_tab"></ng-include>
						</div>
					</uib-tab>
					<uib-tab index="2" heading="第三步 设置河道水位流量曲线" ng-show="tab.ZQ_tab">
						<div class="well">
							<div class="row">
								<ng-include src="template.riverway"></ng-include>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-5">
										<button type="button" class="btn btn-default btn-block" ng-click="submit()">
											<i class="fa fa-check-circle"></i> 添加
										</button>
									</div>
									<div class="col-sm-5">
										<a href="#" ng-click="jumpToUrl()" class="btn btn-info btn-block"><i class="fa fa-times-circle"></i> 取消</a>
									</div>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab index="3" heading="第二步 库(湖)防洪指标、水文特征" ng-show="tab.RR_tab">
						<div class="well">
							<ng-include src="template.RR_tab"></ng-include>
						</div>
					</uib-tab>
					<uib-tab index="4" heading="第三步 设置库(湖)容量曲线" ng-show="tab.RR_tab">
						<div class="well">
							<div class="row">
								<ng-include src="template.reservoir"></ng-include>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-5">
										<button type="button" class="btn btn-default btn-block" ng-click="submit()">
											<i class="fa fa-check-circle"></i> 添加
										</button>
									</div>
									<div class="col-sm-5">
										<a href="#" ng-click="jumpToUrl()" class="btn btn-info btn-block"><i class="fa fa-times-circle"></i> 取消</a>
									</div>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab index="5" heading="第二步 设置墒情特征值" ng-show="tab.SS_tab">
						<div class="well">
							<ng-include src="template.SS_tab"></ng-include>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
</div>