<div class="col-md-12">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<i class="fa fa-plus-circle"></i> {{nav.library.title}}
		</div>
		<div class="panel-body">
			<div cg-busy="{promise:promise, message: '请等待，正在向服务器请求数据...', backdrop:true, delay:0, minDuration:10}">
				<div class="well">
					<div class="row">
						<style>
							.vertical-center-30 {line-height:30px!important;}
						</style>
						<table class="table table-bordered table-hover table-condensed">
							<tr style="font-weight: bold" class="">
								<th class="text-center vertical-center-30">采样名称</th>
								<th class="text-center vertical-center-30">字段标识</th>
								<th class="text-center vertical-center-30">参考值</th>
								<th class="text-center vertical-center-30">计量单位</th>
								<th class="text-center vertical-center-30">是否启用</th>
								<th class="text-center col-md-2 vertical-center-30">
									<button type="button" class="btn btn-default btn-block btn-sm" ng-click="addWaterStandard()">
										<i class="fa fa-plus-circle"></i> 添加采样测站
									</button>
								</th>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>