<div class="col-md-12">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<i class="fa fa-plus-circle"></i> 管理水质异常参照标准数据
		</div>
		<div class="panel-body">
			<div cg-busy="{promise:promise, message: '请等待，正在向服务器请求数据...', backdrop:true, delay:0, minDuration:10}">
				<div class="well">
					<div class="row">
						<style>
							.vertical-center-30 {line-height:30px!important;}
						</style>
						<table class="table table-bordered table-hover table-condensed">
							<tr style="font-weight: bold" class="">
								<th class="text-center vertical-center-30">采样名称</th>
								<th class="text-center vertical-center-30">字段标识</th>
								<th class="text-center vertical-center-30">参考值</th>
								<th class="text-center vertical-center-30">计量单位</th>
								<th class="text-center vertical-center-30">是否启用</th>
								<th class="text-center col-md-2 vertical-center-30">
									<button type="button" class="btn btn-default btn-block btn-sm" ng-click="addRiverwayCurve()">
										<i class="fa fa-plus-circle"></i> 添加采样标准
									</button>
								</th>
							</tr>
							<tr ng-repeat="vo in allItem[currentPage-1]">
								<td class="vertical-center-30 text-center">
									{{vo.label}}
								</td>
								<td class="vertical-center-30 text-center">
									{{vo.field}}
								</td>
								<td class="vertical-center-30 text-center">
									<span editable-number="vo.value" e-name="value" e-form="rowform" 
										  onbeforesave="checkName($data, vo.id)">
										{{vo.value||'未设置'}}
									</span>
								</td>
								<td class="vertical-center-30 text-center">
									{{vo.prickle}}
								</td>
								<td class="vertical-center-30 text-center">
									<span editable-checkbox="val.status" e-name="Z" e-form="rowform" e-title="启用">
										{{(vo.status==1)?'启用':'关闭'}}
									</span>
								</td>
								<td style="white-space: nowrap" class="text-center">
									<form editable-form name="rowform" onbeforesave="saveUser($data, vo.id)" ng-show="rowform.$visible" class="form-buttons form-inline">
										<button type="submit" ng-disabled="rowform.$waiting" 
												class="btn btn-sm btn-primary"><i class="fa fa-check-circle"></i> 保存
										</button>
										<button type="button" ng-disabled="rowform.$waiting" 
												ng-click="rowform.$cancel()" class="btn btn-sm btn-default"><i class="fa fa-minus-circle"></i> 取消</button>
									</form>
									<div class="buttons vertical-center-30" ng-show="!rowform.$visible">
										<button type="button" class="btn btn-sm btn-primary" ng-click="rowform.$show()"><i class="fa fa-edit"></i> 编辑</button>
										<button type="button" class="btn btn-sm btn-danger" ng-click="removeUser($index)"><i class="fa fa-trash"></i> 删除</button>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="5" class="test-right">
									<ul uib-pagination class="pagination-sm embed-responsive-item" style="float:right;margin: 0 15px 0 0;"
										total-items="totalItems"
										max-size="maxSize"
										items-per-page="itemsPerPage"
										num-pages="numPages"
										force-ellipses="true"
										ng-model="currentPage"
										previous-text="上一页"
										next-text="下一页"
										first-text="首页"
										last-text="尾页"
										boundary-links="true"
										boundary-link-numbers="true"
										rotate="false">
									</ul>
								</td>
								<td><input type="text" class="form-control input-sm" value="Page: {{currentPage}} / {{numPages}}" readonly></td>
							</tr>
						</table>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-6">
								<button type="button" class="btn btn-default btn-block" ng-click="submit()">
									<i class="fa fa-check-circle"></i> 保存水质参照标准数据
								</button>
							</div>
							<div class="col-sm-4">
								<a href="#" ng-click="jumpToUrl()" class="btn btn-info btn-block"><i class="fa fa-times-circle"></i> 取消</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>