<div class="h-full">
	<!--=== 快捷侧栏 ===-->
	<div class="quick-sidebar-wrapper">
		<a class="quick-sidebar-toggler" href="javascript:;">
			收起
		</a>
		<div class="quick-sidebar">
			<div class="nav-justified">
				<ul class="nav nav-tabs nav-justified">
					<li class="active">
						<a href="#" data-target="#quick_sidebar_tab_1"
						   data-toggle="tab"
						   data-close-others="true">
							水库
						</a>
					</li>
					<li>
						<a href="#" data-target="#quick_sidebar_tab_2"
						   data-toggle="tab"
						   data-close-others="true">
							雨量
						</a>
					</li>
					<li>
						<a href="#" data-target="#quick_sidebar_tab_3"
						   data-toggle="tab"
						   data-close-others="true">
							闸位
						</a>
					</li>
					<li>
						<a href="#" data-target="#quick_sidebar_tab_4"
						   data-toggle="tab"
						   data-close-others="true">
							流量
						</a>
					</li>
					<li>
						<a href="#" data-target="#quick_sidebar_tab_5"
						   data-toggle="tab"
						   data-close-others="true">
							墒情
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<!--水库-->
					<div class="tab-pane active quick-sidebar-reservoir" id="quick_sidebar_tab_1">
						<div class="table-scrollable table-scrollable-borderless">
							<table class="table table-bordered table-hover table-condensed">
								<tr>
									<th>站点名称</th>
									<th>时间</th>
									<th>水位</th>
									<th>库容</th>
								</tr>
								<tr ng-repeat="">
									<td>水库名称</td>
									<td>200</td>
									<td>70</td>
									<td>100</td>
								</tr>
								<tr ng-if="lists.length == 0">
									<td colspan="4" class="text-center">没有数据</td>
								</tr>
							</table>
						</div>
					</div>
					<!--雨量-->
					<div class="tab-pane quick-sidebar-rainfall" id="quick_sidebar_tab_2">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>水库名称</th>
								<th>降水时间</th>
								<th>时段降水量</th>
								<th>当前累积降水量</th>
							</tr>
							<tr ng-repeat="">
								<td>站点名称</td>
								<td>10</td>
								<td>15</td>
								<td>10-25</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
					<!--闸位-->
					<div class="tab-pane quick-sidebar-gates-position" id="quick_sidebar_tab_3">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>站点名称</th>
								<th>闸门开度</th>
								<th>瞬时流量</th>
								<th>累积流量</th>
							</tr>
							<tr>
								<td>闸门名称</td>
								<td>2m</td>
								<td>120</td>
								<td>10-23</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
					<!--流量-->
					<div class="tab-pane quick-sidebar-flow" id="quick_sidebar_tab_4">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>测站名称</th>
								<th>时间</th>
								<th>水位</th>
								<th>瞬时流量</th>
							</tr>
							<tr ng-repeat="">
								<td>站点名称</td>
								<td>15m</td>
								<td>8m/s</td>
								<td>10-25</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
					<!--墒情-->
					<div class="tab-pane quick-sidebar-moisture" id="quick_sidebar_tab_5">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>测站名称</th>
								<th>时间</th>
								<th>20cm</th>
								<th>40cm</th>
								<th>60cm</th>
							</tr>
							<tr ng-repeat="">
								<td>站点名称</td>
								<td>80</td>
								<td>60</td>
								<td>25</td>
								<td>10-26</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--=== \快捷侧栏 ===-->

	<!--=== 侧栏 ===-->
	<div class="sidebar-r">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#" data-target="#tab_1_1" data-toggle="tab" ><i class="fa fa-laptop"></i></a>
			</li>
			<li>
				<a href="#" data-target="#tab_1_2" data-toggle="tab" ><i class="fa fa-calendar"></i></a>
			</li>
			<li>
				<a href="#" data-target="#tab_1_2" data-toggle="tab" ><i class="fa fa-pie-chart"></i></a>
			</li>
		</ul>
	</div>
	<!--=== \侧栏 ===-->

	<ng-include src="template.monitor"></ng-include>

	<div class="tab-content">
		<div class="tab-pane active" id="#tab_1_1">
			地图
		</div>
		<div class="tab-pane" id="#tab_1_2">
			表格
		</div>
		<div class="tab-pane" id="#tab_1_3">
			概化图
		</div>
	</div>
</div>


<script type="text/javascript">
	/* Init Metronic's core jquery plugins and layout scripts */
	$(document).ready(function() {
		$('.quick-sidebar-toggler').click(function () {
			$('body').toggleClass('quick-sidebar-open');
		});
	});
</script>