
<div class="panel panel-warning">
	<div class="panel-heading">
		<ul class="nav nav-tabs nav-justified btn-round">
			<li class="active">
				<a href="#" data-target="#tab_1"
				   data-toggle="tab"
				   data-close-others="true">
					流量
				</a>
			</li>
			<li>
				<a href="#" data-target="#tab_2"
				   data-toggle="tab"
				   data-close-others="true">
					墒情站
				</a>
			</li>
			<li>
				<a href="#" data-target="#tab_3"
				   data-toggle="tab"
				   data-close-others="true">
					水位站
				</a>
			</li>
			<li>
				<a href="#" data-target="#tab_4"
				   data-toggle="tab"
				   data-close-others="true">
					闸门站
				</a>
			</li>
			<li>
				<a href="#" data-target="#tab_5"
				   data-toggle="tab"
				   data-close-others="true">
					水库站
				</a>
			</li>
		</ul>
	</div>
	<div class="panel-body">
		<div class="well">
			<div class="row">
				<div class="tab-content D-center">
					<!--流量-->
					<div class="tab-pane active" id="tab_1">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>站点名称</th>
								<th>时间</th>
								<th>水位</th>
								<th>瞬时流量m3/s</th>
								<th>累积流量m3/s</th>
							</tr>
							<tr>
								<td>站点名称</td>
								<td>10-23 8：00：00</td>
								<td>10</td>
								<td>1</td>
								<td>1</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
					<!--墒情站-->
					<div class="tab-pane" id="tab_2">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>名称</th>
								<th>时间</th>
								<th>20cm含水量</th>
								<th>40cm含水量</th>
								<th>60cm含水量</th>
							</tr>
							<tr>
								<td>墒情站名称</td>
								<td>110-23 8：00 00</td>
								<td>2.3</td>
								<td>2.0</td>
								<td>1.8</td>
							</tr>
							<tr>
								<td>墒情站名称</td>
								<td>110-23 8：00 00</td>
								<td>3.3</td>
								<td>2.5</td>
								<td>1.5</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
					<!--水位站-->
					<div class="tab-pane" id="tab_3">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>站点名称</th>
								<th>时间</th>
								<th>水位（m）</th>
								<th>库容(万m3)</th>
							</tr>
							<tr>
								<td>站点名称</td>
								<td>12-23 8：00：00</td>
								<td>2.3</td>
								<td>2.1</td>
							</tr>
							<tr>
								<td>站点名称</td>
								<td>12-23 8：00：00</td>
								<td>3.0</td>
								<td>1.3</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
					<!--闸门站-->
					<div class="tab-pane" id="tab_4">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>闸门名称</th>
								<th>闸门开度(m)</th>
								<th>瞬时流量(m3)</th>
								<th>瞬时流量(m3)</th>
							</tr>
							<tr>
								<td>闸门名称</td>
								<td>1</td>
								<td>3</td>
								<td>5</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
					<!--水库站-->
					<div class="tab-pane" id="tab_5">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>站点名称</th>
								<th>时间</th>
								<th>水位(m)</th>
								<th>库容(万m3)</th>
							</tr>
							<tr >
								<td>站点名称</td>
								<td>10-23 8：00：00</td>
								<td>23</td>
								<td>150</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
	