
<div class="col-md-12">
	<!--=== 侧栏 ===-->
	<div id="sidebar-r" >
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#" data-target="#tab_1_1" data-toggle="tab"><i class="fa fa-laptop"></i></a>
			</li>
			<li>
				<a href="#" data-target="#tab_1_2" data-toggle="tab"><i class="fa fa-calendar"></i></a>
			</li>
			<li>
				<a href="#" data-target="#tab_1_3" data-toggle="tab"><i class="fa fa-pie-chart"></i></a>
			</li>
		</ul>
	</div>
	<!--=== \快捷侧栏 ===-->
	
	<div class="tab-content">
		<div class="tab-pane  active" id="tab_1_1">
			<ng-include src="template.monitorMap"></ng-include>
		</div>
		<div class="tab-pane" id="tab_1_2">
			<ng-include src="template.monitorTable"></ng-include>
		</div>
		<div class="tab-pane" id="tab_1_3">
			<ng-include src="template.monitorConceptMap"></ng-include>
		</div>
	</div>

</div>
