
<div class="panel panel-warning">
	<div class="panel-heading">
		<ul class="nav nav-tabs nav-justified btn-round">
			<li class="active">
				<a href="#" data-target="#tab_1"
				   data-toggle="tab"
				   data-close-others="true">
					流量
				</a>
			</li>
			<li>
				<a href="#" data-target="#tab_2"
				   data-toggle="tab"
				   data-close-others="true">
					墒情站
				</a>
			</li>
			<li>
				<a href="#" data-target="#tab_3"
				   data-toggle="tab"
				   data-close-others="true">
					水位站
				</a>
			</li>
			<li>
				<a href="#" data-target="#tab_4"
				   data-toggle="tab"
				   data-close-others="true">
					闸门站
				</a>
			</li>
			<li>
				<a href="#" data-target="#tab_5"
				   data-toggle="tab"
				   data-close-others="true">
					水库站
				</a>
			</li>
		</ul>
	</div>
	<div class="panel-body">
		<div class="well">
			<div class="row">
				<div class="tab-content D-center">
					<!--流量-->
					<div class="tab-pane active" id="tab_1">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>站点名称</th>
								<th>时间</th>
								<th>水位</th>
								<th>瞬时流量m3/s</th>
								<th>累积流量m3/s</th>
							</tr>
							<tr ng-repeat="vo in YZallItem[YZcurrentPage-1]">
									<td>{{vo.STNM}}</td>
									<td>{{vo.TM|dateFormat}}</td>
									<td>{{vo.GTOPHGT}}</td>
									<td>{{vo.GTQ}}</td>
									<td>{{vo.TGTQ}}</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
					<!--墒情站-->
					<div class="tab-pane" id="tab_2">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>测站名称</th>
								<th>时间</th>
								<th>20cm</th>
								<th>40cm</th>
								<th>60cm</th>
							</tr>
							<tr ng-repeat="vo in SQallItem[SQcurrentPage-1]">
									<td>{{vo.STNM}}</td>
									<td>{{vo.TM|dateFormat}}</td>
									<td>{{vo.SLM20}}</td>
									<td>{{vo.SLM40}}</td>
									<td>{{vo.SLM60}}</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
					<!--水位站-->
					<div class="tab-pane" id="tab_3">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>站点名称</th>
								<th>时间</th>
								<th>水位（m）</th>
								<th>库容(万m3)</th>
							</tr>
							<tr ng-repeat="vo in SKallItem[SKcurrentPage-1]">
								<td>{{vo.STNM}}</td>
								<td>{{vo.TM|dateFormat}}</td>
								<td>{{vo.RZ}}</td>
								<td>{{vo.W}}</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
					<!--闸门站-->
					<div class="tab-pane" id="tab_4">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>闸门名称</th>
								<th>闸门开度(m)</th>
								<th>瞬时流量(m3)</th>
								<th>瞬时流量(m3)</th>
							</tr>
							<tr ng-repeat="vo in YZallItem[YZcurrentPage-1]">
									<td>{{vo.STNM}}</td>
									<td>{{vo.GTOPHGT}}</td>
									<td>{{vo.GTQ}}</td>
									<td>{{vo.TGTQ}}</td>
							</tr>
							<tr ng-if="lists.length == 0">
								<td colspan="4" class="text-center">没有数据</td>
							</tr>
						</table>
					</div>
					<!--水库站-->
					<div class="tab-pane" id="tab_5">
						<table class="table table-bordered table-hover table-condensed">
							<tr>
								<th>站点名称</th>
								<th>时间</th>
								<th>水位(m)</th>
								<th>库容(万m3)</th>
							</tr>
							<tr ng-repeat="vo in SKallItem[SKcurrentPage-1]">
									<td>{{vo.STNM}}</td>
									<td>{{vo.TM|dateFormat}}</td>
									<td>{{vo.RZ}}</td>
									<td>{{vo.W}}</td>
								</tr>
								<tr ng-if="lists.length == 0">
									<td colspan="4" class="text-center">没有数据</td>
								</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
	