
<ng-include src="template.quick_sidebar"></ng-include>

<div class="">
	<button type="button" class="btn btn-default mb30" ng-click="action()">模态框</button>
	<div class="category-st-wrap">
		<form action="" class="form-horizontal">
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input type="checkbox"> 水库水位
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> 降雨量
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> 河道流量
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> 土壤墒情
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> 实时视频
					</label>
				</div>
			</div>
		</form>
	</div>
	<div class="lhmap" style="height:500px; overflow: auto; cursor:pointer" >
		<img class="w-full" src="img/map.jpg" alt="">
	</div>
	
</div>

<script type="text/ng-template" id="actionModalContent.html">
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">
			雨量站
			<div class="pull-right">
				<button type="button" class="btn btn-default" ng-click="detail()">详情</button>
				<button class="btn btn-default" ng-click="close()">X</button>
			</div>
			
		</h3>
		
	</div>
	<div class="modal-body" id="modal-body">
		<div class="well">
			<div class="row">
				<div class="col-md-6">
					<table class="table table-bordered table-hover table-condensed">
						<tr class="D-center">
							<th>丙间水库</th>
							<th>丙间水库</th>
						</tr>
						<tr>
							<td>降水时间</td>
							<td>10-23 8：00：00</td>
						</tr>
						<tr>
							<td>时段降水量（mm）</td>
							<td>15</td>
						</tr>
						<tr>
							<td>当前累积降水量（mm）</td>
							<td>30</td>
						</tr>
						<tr ng-if="lists.length == 0">
							<td colspan="4" class="text-center">没有数据</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					图表
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		图表
	</div>
</script>

<script type="text/ng-template" id="detailModalContent.html">
	<div class="modal-header">
		<h3 class="modal-title">
			雨量站详情
			<div class="pull-right">
				<button class="btn btn-default" ng-click="close()">X</button>
			</div>
		</h3>
	</div>
	<div class="modal-body" >
		<div class="well">
			<table class="table table-bordered table-hover table-condensed">
				<tr class="D-center">
					<th>水库名称</th>
					<th>降水时间</th>
					<th>时段降水量</th>
					<th>当前累计降水量</th>
				</tr>
				<tr>
					<td>丙间水库</td>
					<td>10-23 8：00</td>
					<td>5</td>
					<td>30</td>
				</tr>
				<tr>
					<td>丙间水库</td>
					<td>10-23 8：05</td>
					<td>5</td>
					<td>30</td>
				</tr>
				<tr>
					<td>丙间水库</td>
					<td>10-23 8：00</td>
					<td>5</td>
					<td>30</td>
				</tr>
				<tr ng-if="lists.length == 0">
					<td colspan="4" class="text-center">没有数据</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		图表
	</div>
</script>