<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/Public/bootstrap/bootstrap.min.css" media="screen">
	<title>Title</title>
</head>
<body>
<div class="container">
	{__CONTENT__}
</div>
<script src="/Public/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/Public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>