<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/node_modules/bootswatch/slate/bootstrap.min.css" media="screen">
	<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/node_modules/angular-busy/dist/angular-busy.min.css">
	<link rel="stylesheet" href="/node_modules/angular-toastr/dist/angular-toastr.min.css">
	<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/node_modules/angular-xeditable/dist/css/xeditable.min.css">
	<title>{$nav.home.title}</title>
	<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-busy/dist/angular-busy.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-i18n/angular-locale_zh-cn.js"></script>
	<script type="text/javascript" src="/node_modules/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-sanitize/angular-sanitize.js"></script>
	<script type="text/javascript" src="/node_modules/angular-translate/dist/angular-translate.js"></script>
	<script type="text/javascript" src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="/node_modules/angular-dialog-service/dist/dialogs.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-dialog-service/dist/dialogs-default-translations.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-xeditable/dist/js/xeditable.min.js"></script>
	<script type="text/javascript" src="/node_modules/ng-file-upload/dist/ng-file-upload-all.min.js"></script>
	<script type="text/javascript" src="/Public/javascript.js"></script>
</head>
<body ng-app="starter">
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>{$nav.library.title} <small>Subtext for header</small></h1>
		</div>
		<div class="col-md-2">
			<div class="btn-group" uib-dropdown is-open="status.isopen" style="margin-top: 15px;">
				<button id="single-button" type="button" class="btn btn-primary btn-block" uib-dropdown-toggle ng-disabled="disabled">
					系统功能列表 <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					<li role="menuitem"><a href="{:U('Station/lists')}">测站管理</a></li>
					<li role="menuitem"><a href="#">Another action</a></li>
					<li role="menuitem"><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li role="menuitem"><a href="#">Separated link</a></li>
				</ul>
			</div>
		</div>
	</div>
	<ol class="breadcrumb">
		<li><a href="{$nav.home.url}">{$nav.home.title}</a></li>
		<present name="nav.sublib">
			<li><a href="{$nav.library.url}">{$nav.library.title}</a></li>
			<li class="active">{$nav.sublib.title}</li>
		<else />
			<li class="active">{$nav.library.title}</li>
		</present>
	</ol>
	{__CONTENT__}
</div>
</body>
</html>