<!DOCTYPE html>
<html lang="zh_cn">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Title</title>
	<link rel="stylesheet" href="/dist/bootstrap.cyborg.min.css">
</head>
<body>

<script type="text/javascript" src="/dist/jquery.min.js"></script>
<script type="text/javascript" src="/dist/angular-1.5.8/angular.js"></script>
<script type="text/javascript" src="/dist/bootstrap-master/dist/js/bootstrap.min.js"></script>
</body>
</html>