<form class="form-horizontal" role="form" name="theForm" novalidate="novalidate">
	<div class="form-group">
		<label class="col-sm-2 control-label">测站编码</label>
		<div class="col-sm-4" ng-class="{true: 'has-error', false: 'has-success'}[theForm.STCD.$invalid]">
			<input type="text" class="form-control input-sm" ng-model="station.STBPRP.STCD" name="STCD" 
				   placeholder="具有唯一性，由数字和大写字母组成的8位字符串" required>
		</div>
		<label class="col-sm-2 control-label">测站名称</label>
		<div class="col-sm-4" ng-class="{true: 'has-error', false: 'has-success'}[theForm.STNM.$invalid]">
			<input type="text" class="form-control input-sm" ng-model="station.STBPRP.STNM" name="STNM" 
				   placeholder="测站编码所代表测站的中文名称" required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">经度</label>
		<div class="col-sm-4" ng-class="{true: 'has-error', false: 'has-success'}[theForm.LGTD.$invalid]">
			<input type="text" class="form-control input-sm" ng-model="station.STBPRP.LGTD" name="LGTD" 
				   placeholder="测站代表点所在地理位置的东经度" required>
		</div>
		<label class="col-sm-2 control-label">纬度</label>
		<div class="col-sm-4" ng-class="{true: 'has-error', false: 'has-success'}[theForm.LTTD.$invalid]">
			<input type="text" class="form-control input-sm" ng-model="station.STBPRP.LTTD" name="LTTD" 
				   placeholder="测站代表点所在地理位置的北纬度" required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">测站类别</label>
		<div class="col-sm-4" ng-class="{true: 'has-error', false: 'has-success'}[theForm.STTP.$invalid]">
			<select class="form-control input-sm" ng-model="station.STBPRP.STTP" name="STTP" ng-change="mySTTP()" 
					ng-options="item.lable for item in option.STTP track by item.value" required>
				<option value="">请选择测站类型</option>
			</select>
		</div>
		<label class="col-sm-2 control-label">启用标志</label>
		<div class="col-sm-4 btn-group">
			<label class="btn btn-success btn-sm" ng-model="station.STBPRP.USFL" uib-btn-radio="{{item.value}}" 
				   ng-repeat="item in option.USFL">{{item.lable}}</label>
		</div>
	</div>
	<div class="form-group" ng-show="tab.DD_tab">
		<label class="col-sm-2 control-label">堰闸关系标志</label>
		<div class="col-sm-3 btn-group">
			<label class="btn btn-success btn-sm" ng-model="station.WASRL.RLMRK" uib-btn-radio="'D'">闸下站</label>
			<label class="btn btn-success btn-sm" ng-model="station.WASRL.RLMRK" uib-btn-radio="'U'">闸上站</label>
			<label class="btn btn-success btn-sm" ng-model="station.WASRL.RLMRK" uib-btn-radio="'L'">同断面</label>
		</div>
		<div class="col-sm-3 btn-group">
			<label class="btn btn-success btn-sm" ng-change="relevance(0)" ng-model="ajax.relev" uib-btn-radio="0">关联河道
			</label>
			<label class="btn btn-success btn-sm" ng-change="relevance(1)" ng-model="ajax.relev" uib-btn-radio="1">关联库（湖）
			</label>
		</div>
		<div class="col-sm-4">
			<select class="form-control input-sm" ng-model="station.WASRL.RLSTCD" name="RLSTCD" 
					ng-options="item.label for item in RLSTCD track by item.value">
				<option value="">请选择所关联的河道或者库湖</option>
			</select>
		</div>
	</div>
	<div class="form-group" ng-show="tab.RR_tab">
		<label class="col-sm-2 control-label">入出库标志</label>
		<div class="col-sm-4 btn-group">
			<label class="btn btn-success btn-sm" ng-model="station.RSVRSTRL.IOMRK" uib-btn-radio="'I'">计算入库流量</label>
			<label class="btn btn-success btn-sm" ng-model="station.RSVRSTRL.IOMRK" uib-btn-radio="'O'">计算出库流量</label>
			<label class="btn btn-success btn-sm" ng-model="station.RSVRSTRL.IOMRK" uib-btn-radio="'Z'">计算平均水位</label>
		</div>
		<label class="col-sm-2 control-label">关联测站</label>
		<div class="col-sm-4">
			<select class="form-control input-sm" ng-model="station.RSVRSTRL.RLSTCD" name="RLSTCD"
					ng-options="item.label for item in RLSTCD track by item.value">
				<option value="">关联自身测站</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">测站联系人</label>
		<div class="col-sm-4" ng-class="{true: 'has-error', false: 'has-success'}[theForm.OFFICER.$invalid]">
			<input type="text" class="form-control input-sm" ng-model="station.STSMTASK.OFFICER" name="OFFICER" 
				   placeholder="测站联系人的姓名" required>
		</div>
		<label class="col-sm-2 control-label">联系人手机</label>
		<div class="col-sm-4" ng-class="{true: 'has-error', false: 'has-success'}[theForm.MPHONE.$invalid]">
			<input type="text" class="form-control input-sm" ng-model="station.STSMTASK.MPHONE"
				   name="MPHONE" placeholder="测站联系人的手机号码" required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">报送任务</label>
		<div class="col-sm-10">
			<div class="col-md-3" ng-repeat="val in option.TASK">
				<label class="checkbox-inline">
					<input type="checkbox" ng-model="station.STSMTASK[val.value]" ng-true-value="'1'" name="{{val.value}}">{{val.lable}}
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">测站地址</label>
		<div class="col-sm-10" ng-class="{true: 'has-error', false: 'has-success'}[theForm.STLC.$invalid]">
			<input type="text" class="form-control input-sm" ng-model="station.STBPRP.STLC" name="STLC" 
				   placeholder="测站代表点所在地县级以下详细地址" required>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-5">
			<button type="button" class="btn btn-default btn-block" ng-hide="tab.step" ng-click="submit()" ng-disabled="!theForm.$valid">
				<i class="fa fa-check-circle"></i> 添加
			</button>
			<button type="button" class="btn btn-default btn-block" ng-show="tab.step" ng-click="nextStep()" ng-disabled="!theForm.$valid">
				<i class="fa fa-long-arrow-right"></i> 下一步
			</button>
		</div>
		<div class="col-sm-5">
			<a href="#" ng-click="jumpToUrl()" class="btn btn-info btn-block"><i class="fa fa-times-circle"></i> 取消</a>
		</div>
	</div>
</form>