<div class="panel panel-warning">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-10"><i class="fa fa-list-alt"></i> {$nav.home.title}</div>
			<div class="col-md-2">
				<a href="{:U('station/add')}" class="btn btn-primary btn-xs btn-block pull-right"><i class="fa fa-plus-circle"></i> 新增</a>
			</div>
		</div>
	</div>
	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<th class="text-center" style="width: 45px;">ID</th>
			<th class="text-center col-md-3">报送任务名称</th>
			<th class="text-center">报送任务内容</th>
			<th style="width: 120px;" class="text-center">操作</th>
		</tr>
		<volist name="list" id="vo">
			<tr>
				<td class="text-center">{$vo.id}</td>
				<td>{$vo.STNM}</td>
				<td>{$vo.LTTD}</td>
				<td class="text-center">
					<button type="button" class="btn btn-danger btn-xs pull-right btn-del" data-pk="{$vo.id}"><i class="fa fa-trash-o"></i> 删除</button>
					<a href="{:U('Station/edit')}" class="btn btn-info btn-xs pull-right"><i class="fa fa-edit"></i> 编辑</a>
				</td>
			</tr>
		</volist>
	</table>
	<div class="panel-footer">
		<nav class="row">
			<ul class="pagination pagination-sm pull-right" style="margin: 0; padding-right: 10px;">
				<li><a href="#">第一页</a></li>
				<li><a href="#">上一页</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">下一页</a></li>
				<li><a href="#">最后一页</a></li>
			</ul>
		</nav>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('button.btn-del').click(function(){
			if(confirm('确认删除这个检测站吗？')){
				alert($(this).data('pk'));
			}
		});
	})
</script>